body {
	background: #ff7400;
	font-family: century;
}

header {
	background-color: #090400;
	font-family: century;
	color: white;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a64b00;
  font-family: century,sans-serif;
}
nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
article {
   border-style: solid;
  border-width: 5px;
  border-radius: 0px;
  margin: 5px;
  padding: 5px;
  font-size: 18px;
}

.prerequisite {
  font-style: italic;
  font-size: 15px;
}